@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-family-cairo);

  }

  p {
    font-family: var(--font-family-poppins);
    
  }

  a {
    margin-inline-end: 0 !important;
  }
}


a {
  font-family: var(--font-family-poppins);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .font-cairo { 
    font-family: var(--font-family-cairo);
  }

  .font-poppins {
    font-family: var(--font-family-poppins);
  }
}


.font-cairo {
  font-family: var(--font-family-cairo);
}

.font-poppins {
  font-family: var(--font-family-poppins);
}

.flex-center {
  @apply flex justify-center items-center
}

.btn-primary {
  @apply bg-white px-6 py-2 text-black rounded-md hover:bg-gray-300 transition duration-500 cursor-pointer
}

.orange-link {
  @apply text-primary-orange border-0 border-b border-primary-orange font-medium hover:text-black-two hover:border-black-two
}

.btn-bottom-border {
  @apply font-semibold block font-semibold font-cairo text-black-one cursor-pointer border-0 border-b border-black-one hover:text-primary-orange hover:border-primary-orange
}

.btn-black {
  @apply bg-black text-white font-semibold rounded-sm px-6 py-2 hover:bg-gray-700 font-cairo
}

button:disabled {
  opacity: 0.7;
  pointer-events: none;
  cursor: wait;
}

.products-cards-wrapper {
  flex: auto;
}

.navlink {
  @apply py-2 md:py-0 md:text-sm text-black-two border-0 border-b border-transparent  hover:border-primary-orange hover:text-primary-orange
}

.btn-small {
  @apply px-3 py-1.5
}

.text-content ul {
  list-style-type: disc;
  padding-left: 1rem;
  list-style-position: inside;
}

.text-content p {
  margin-top: 12px;
  font-size: 14px;
  margin-left: 14px;
  line-height: 28px;
}


.text-content h3 {
  font-size: 20px;
}
.text-content h4 {
  font-size: 18px;
}
.text-content h5 {
  font-size: 16px;
}
.text-content h3, 
.text-content h4,
.text-content h5
{
  font-weight: 600;
  margin: 12px 0;
}